header {
    max-width: 1000px;
    min-width: 500px;
    height: 150px;
    background-color: green;
    margin: 0 auto;
}
section {
    max-width: 1000px;
    min-width: 500px;
    margin: 0 auto;
}
nav {
    width: 200px;
    height: 450px;
    background-color: red;    
    float: left;

}
article {
    height: 450px;
    background-color: blue;
}
footer {
    max-width: 1000px;
    min-width: 500px;
    height: 100px;
    background-color: grey;
    margin: 0 auto;
}